<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="LeshLoanConString" connectionString="Data Source=(local);Initial Catalog=LeshLoanDb; Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="LeshLoanConString" connectionString="Data Source=SQL5044,1433;Initial Catalog=DB_A4D7FE_LeshLoanDb; user id=DB_A4D7FE_LeshLoanDb_admin;password=2020@Mugabe" providerName="System.Data.SqlClient"/>-->
         <add name="LiveLeshLoanConString" connectionString="Data Source=tcp:pgsssql34_pis,5016; Initial Catalog=; Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
